!!!
%html
  %head
    %title Module #{@name} - Documentation
  %body
    - if @parent.is_a? Papyri::Project
      %a{:href=>@parent_filename, :alt=>"Go Up"}Go to root...
    - else
      %a{:href=>@parent_filename, :alt=>"Go Up"}Go to #{@parent.name}...

    - if @modules.length > 0
      %h2 Modules
      %ul
        - @modules.each do |m|
          %li
            %a{:href=>m[:filename], :alt=>m[:model].name} #{m[:model].name}

    - if @classes.length > 0
      %h2 Classes
      %ul
        - @classes.each do |c|
          %li
            %a{:href=>c[:filename], :alt=>c[:model].name} #{c[:model].name}
