!!!
%html
  %head
    %title Project - Documentation
  %body
    %ul
      - @modules.each do |m|
        %li
          %a{:href=>m[:filename], :alt=>m[:model].name} #{m[:model].name}

    %ul
      - @classes.each do |c|
        %li
          %a{:href=>c[:filename], :alt=>c[:model].name} #{c[:model].name}
